@{
    Layout = "~/Views/Shared/_LayoutSignInUp.cshtml";
}
@Styles.Render("~/Content/recuperation.css")

<div class="login-content">
    <div class="login-text">
        <strong>
            <p>Esqueceu sua senha?</p>
        </strong>
        <p>Não possui uma conta? <strong><a href="~/Register/SignUp"> Cadastre-se</a></strong></p>
    </div>

    <form>
        <div class="input-block">
            <fieldset>
                <label for="email"></label>
                <input type="email" name="email" class="input-text" id="email" placeholder="E-mail">
            </fieldset>
        </div>
        <div class="input-block">
            <fieldset>
                <label for="nova-senha"></label>
                <input type="password" name="nova-senha" class="input-text" id="nova-senha" placeholder="Nova senha">
            </fieldset>
        </div>
        <div class="input-block">
            <fieldset>
                <label for="conf-senha"></label>
                <input type="password" name="conf-senha" class="input-text" id="conf-senha" placeholder="Confirme a nova senha">
            </fieldset>
        </div>
        <div class="bottom-content">
            <button type="submit">Acessar</button>
        </div>
    </form>
</div>

<script src="~/Scripts/Confirmar-AlteracaoSenha .js"></script>