@{
    Layout = "~/Views/Shared/_LayoutSignInUp.cshtml";
}

@Styles.Render("~/Content/signIn.css")

<div class="login-content">
    <div class="login-text">
        <h2>Seja bem-vindo!</h2>
        <p>Não possui uma conta? <strong><a href="~/Register/SignUp"> Cadastre-se</a></strong></p>
    </div>

    <form action="/Login/Login">
        <div class="input-block">
            <input type="text" name="email" class="input-text" id="email" placeholder="E-mail" required>
        </div>
        <div class="input-block">
            <input type="password" name="senha" class="input-text" id="senha" placeholder="Senha" required>
        </div>
        <div class="bottom-content">
            <a href="RecuperacaoSenha">Esqueci minha senha</a>
            <button type="submit">Acessar</button>
        </div>
        @if (TempData["erro"] != null)
        {
            <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
            <div class="notification is-danger">
                <p size="3" align="center"><b>@TempData["erro"]</b></p>
            </div>
        }
    </form>
</div>
