@{
    Layout = "~/Views/Shared/_LayoutSignInUp.cshtml";
}

@Styles.Render("~/Content/signUp.css")
<link rel="stylesheet" href="~/Content/signUp.css" />
<div class="register-container">
    <form action="SignUp" method="post" class="register-content">
        <div class="register-text">
            <h2>Crie sua conta</h2>
            <p>Já tem uma conta? <a href="~/">Entre</a></p>
        </div>
        <div class="first-row">
            <div class="input-block">
                <input pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" type="text" name="name" id="name" placeholder="Nome" required oninvalid="this.setCustomValidity('Campo obrigatório')"
                       onchange="try{setCustomValidity('')}catch(e){}">
            </div>

            <div class="input-block">
                <input pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" type="text" name="last-name" id="last-name" placeholder="Sobrenome" required oninvalid="this.setCustomValidity('Campo obrigatório)"
                       onchange="try{setCustomValidity('')}catch(e){}">
            </div>
        </div>

        <div class="second-row">
            <div class="input-block">
                <select name="gender" id="gender" required oninvalid="this.setCustomValidity('Campo obrigatório')"
                        onchange="try{setCustomValidity('')}catch(e){}">
                    <option selected="true" disabled="disabled">Selecione seu sexo...</option>
                    <option value="m">Masculino</option>
                    <option value="f">Feminino</option>
                    <option value="o">Outros</option>
                </select>
            </div>

            <div class="input-block">
                <input pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})|(\d{11})$" type="text" name="number-doc" id="number-doc" placeholder="Nº do Documento" required oninvalid="this.setCustomValidity('Campo obrigatório')"
                       onchange="try{setCustomValidity('')}catch(e){}">
            </div>

            <div class="input-block">
                <input type="number" name="birth" id="birth" placeholder="Data de Nascimento" onfocus="(this.type='date')" required oninvalid="this.setCustomValidity('Campo obrigatório')"
                       onchange="try{setCustomValidity('')}catch(e){}">
            </div>
        </div>

        <div class="third-row">
            <div class="input-block">
                <input type="email" name="email" id="email" placeholder="E-mail" required oninvalid="this.setCustomValidity('Campo obrigatório')"
                       onchange="try{setCustomValidity('')}catch(e){}">
            </div>

            <div class="input-block">
                <input type="password" name="password" id="password" placeholder="Senha" required oninvalid="this.setCustomValidity('Campo obrigatório')"
                       onchange="try{setCustomValidity('')}catch(e){}">
            </div>

            <div class="input-block">
                <input type="password" name="vf-password" id="vf-password" placeholder="Confirme sua senha" required oninvalid="this.setCustomValidity('Campo obrigatório')"
                       onchange="try{setCustomValidity('')}catch(e){}">
            </div>
        </div>
        <button type="submit">Cadastrar</button>
        @if (TempData["alerta"] != null)
        {
            <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
            <div class="notification is-danger">
                <p size="3" align="center"><b>@TempData["alerta"]</b></p>
            </div>
        }
    </form>
</div>