<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - BITXCHANGE</title>
    @Styles.Render("~/Content/global.css")
</head>
<body>
    <div class="page-header">
        <div class="logo-container">
            <img src="~/Content/Assets/Images/logo.svg" alt="logo-bitxchange" />
        </div>
        <div class="header-content">
            <p><strong> SUA SEGURANÇA É A NOSSA GARANTIA</strong></p>
        </div>
    </div>
    @RenderBody()
</body>
</html>