<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BITXCHANGE</title>
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/global.css" />
    
    <script src="https://kit.fontawesome.com/b5e84d0a6b.js" crossorigin="anonymous"></script>
    @{
        BIT_MODEL.UsuarioModel UsuarioDados_ = ViewBag.Home;
    }


</head>
<body>
    <nav>
        <div class="menu-icon">
            <span class="fas fa-bars"></span>
        </div>
        <div class="logo">
            <img src="~/Content/Assets/Images/logo.svg" alt="logo">
        </div>
        <ul class="nav-items">
            <li><a href="/principal/@UsuarioDados_.Id">Início</a></li>
            <li><a href="/Profile/Perfil/@UsuarioDados_.Id">Perfil</a></li>
            <li><a href="/Transferencia/@UsuarioDados_.Id">Transferências</a></li>
            <li><a href="/Deposito/Deposito/@UsuarioDados_.Id">Carteira</a></li>
            <li><a href="/Cambio/@UsuarioDados_.Id">Conversão</a></li>
            <li><a href="/transacoes/@UsuarioDados_.Id">Transações</a></li>
        </ul>
        <div class="logout-icon">
            <a href="/Logout">
                <span class="fas fa-power-off"></span>
            </a>
        </div>
        <div class="cancel-icon">
            <span class="fas fa-times"></span>
        </div>
        <div class="logout">
            <a href="/Logout"><span class="fas fa-power-off"></span></a>
        </div>
    </nav>
    <script src="~/Scripts/menu-navbar.js"></script>

    <div class="warning-wrong-input">
        <p>Verifique os campos preenchidos!</p>
    </div>

    <div class="warning-empty-input">
        <p>Preencha todos campos!</p>
    </div>

    <div class="error">
        <p>Opa, algo deu errado!</p>
    </div>

    <div class="success">
        <p>Operação concluída!</p>
    </div>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>