<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BITXCHANGE</title>
  <link rel="stylesheet" href="../assets/styles/global.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>

  <div class="page-header">
    <div class="logo-container">
      <img src="../assets/images/BITXCHANGE.svg" alt="logo-bitxchange">
    </div>
    <div class="header-content">
      <p><strong> SUA SEGURANÇA É A NOSSA GARANTIA</strong></p>
    </div>
  </div>

  <div class="login-content">
    <div class="login-text">
      <strong>
        <p>Seja bem-vindo!</p>
      </strong>
      <p>Não possui uma conta? <strong><a href="/"> Cadastre-se</a></strong></p>
    </div>

    <form>
      <div class="input-block">
        <fieldset>
          <label for="email"></label>
          <input type="text" name="email" class="input-text" id="email" placeholder="E-mail">
        </fieldset>
      </div>
      <div class="input-block">
        <fieldset>
          <label for="senha"></label>
          <input type="password" name="senha" class="input-text" id="senha" placeholder="Senha">
        </fieldset>
      </div>
      <div class="bottom-content">
        <p>Esqueci minha senha</p>

        <button type="submit">Acessar</button>
      </div>
  
  </form>
</div>
</body>

</html>