:root{
  font-size: 60%;

  --color-primaria: #F7931A;
  --color-secundaria: #FFB357;
  --color-background: #fff;
  --color-texto: black;
}

*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
header{
  background-color: var(--color-primaria);
}

html, body{
  height: 100vh;
}

body{
  background: var(--color-background);
}

@media (min-width: 700px){
  :root{
    font-size: 62.5%;
  }
}
