input, select {
    width: 100%;
    border: 0.1rem solid black;
    height: 4rem;
    line-height: 4rem;
    padding-left: 2rem;
    font-size: 1.6rem;
}

h3 {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
}

hr {
    border: 0.1rem solid rgba(102, 102, 102, 0.3);
}

legend {
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

section {
    max-width: 75vw;
    margin: 6.4rem auto;
}

button {
    width: 100%;
    height: 5rem;
    background-color: var(--color-primaria);
    border: 0.1rem solid black;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 6.4rem;
}

.first-row,
.second-row {
    column-gap: 3.2rem;
    margin-bottom: 3.2rem;
    display: grid;
}

.current-profile .first-row {
    grid-template-columns: 2fr 1fr 1fr;
}

.current-profile .second-row {
    grid-template-columns: 1fr 1fr 1fr;
}

.new-profile .first-row {
    grid-template-columns: 3fr 2fr;
}

.new-profile .second-row {
    grid-template-columns: 1fr 1fr 1fr;
}

@media(max-width: 980px) {
    .first-row,
    .second-row {
        display: block;
        margin: 0;
    }

        .first-row div,
        .second-row div {
            margin-bottom: 3.2rem;
        }

    form {
        width: 80vw;
        margin: 3.2rem 10vw;
    }

    input,
    select,
    button {
        width: 100%;
    }

    button {
        margin-top: 3.2rem;
    }
}
