.page-header.mobile {
    display: none;
}

body {
    display: flex;
}

h2 {
    font-size: 2.4rem;
    line-height: 3.4rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

a {
    text-decoration: none;
    color: var(--color-primaria);
    font-weight: bold;
}

input,
select {
    border: 0.1rem solid black;
    height: 4rem;
    padding-left: 2rem;
    width: 100%;
}

.register-container {
    width: 70%;
    padding: 12rem;
    max-height: 70vh;
    margin: 15vh 0;
}

.first-row {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 3.2rem;
    margin: 3.2rem 0;
}

.second-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 3.2rem;
    margin-bottom: 3.2rem;
}

.third-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 3.2rem;
    margin-bottom: 3.2rem;
}

button {
    height: 5rem;
    background-color: var(--color-primaria);
    border: 0.1rem solid black;
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
}

.page-header.desktop {
    width: 30%;
    background-color: var(--color-primaria);
}

    .page-header.desktop .logo-container {
        margin: 40vh auto;
        max-height: 10vh;
        text-align: center;
    }

        .page-header.desktop .logo-container img {
            width: 36rem;
            height: 8rem;
        }

        .page-header.desktop .logo-container p {
            line-height: 2rem;
            letter-spacing: 0.1rem;
        }

@media(max-width:425px) {
    body {
        display: block;
    }

    .page-header.mobile {
        display: block;
        width: 100%;
        padding: 1.2rem 6.4rem;
        background-color: var(--color-primaria);
    }

    .logo-container {
        width: 100%;
        margin: 2rem auto;
        font-size: 1.6rem;
        text-align: center;
    }

        .logo-container img {
            width: 80%;
        }

    .register-text {
        margin-bottom: 3.2rem;
        text-align: center;
    }

    .register-container {
        width: 70%;
        overflow: auto;
        max-height: 100%;
        margin: 0 auto;
        padding: 6.4rem 0;
    }

    .first-row,
    .second-row,
    .third-row {
        display: block;
    }

        .first-row div,
        .second-row div,
        .third-row div {
            margin-bottom: 3.2rem;
        }

    .page-header.desktop {
        display: none;
    }
}
