
.last-transactions {
    margin: 3.2rem auto;
    overflow-x: scroll;
    max-width: 100%;
    border: 0.1rem solid black;
    width: 90%;
}

.header-transactions {
    display: flex;
    position: relative;
    font-size: 2.8rem;
    font-weight: bolder;
    margin-bottom: 6.4rem;
    
}

.legend-transaction {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
    padding: 3.2rem 3.2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    column-gap: 2.6rem;
    border: 0.1rem solid black;
    
}

.info-transaction {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
    padding: 3rem 3.2rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    column-gap: 2.6rem;
}

    .info-transaction .date-transaction {
        text-align: left;
        font-weight: bold;
    }

.hour-transaction {
    text-align: center;
}

.protocol-transaction {
    text-align: center;
}

.type-transaction,
.value-transaction {
    margin: 0 auto;
}

.value-transaction {
    font-weight: bold;
}

.info-transaction .value-transaction.payment {
    color: red;
}

.value-transaction.receivement {
    color: rgb(38, 195, 10);
}

.coin-transaction {
    text-align: center;
    font-weight: bold;
}

.receiver-transaction {
    text-align: center;
}

.observation {
    text-align: right;
}

@media(max-width: 425px) {
    
}
