.last-transactions {
    padding: 2rem;
    margin: 3.2rem 0;
}

.header-transactions {
    display: flex;
    position: relative;
    font-size: 2.8rem;
    font-weight: bolder;
    margin-bottom: 6.4rem;
}

.legend-transaction {
    display: grid;
    grid-template-columns: 8rem 8rem 15rem 10rem 10rem 10rem 18rem 18rem;
    justify-content: space-between;
    padding: 3rem 2rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgba(196, 196, 196, 0.6);
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.info-transaction {
    display: grid;
    grid-template-columns: 8rem 8rem 15rem 10rem 10rem 10rem 18rem 18rem;
    justify-content: space-between;
    padding: 3rem 2rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    border-left: 0.1rem solid rgba(196, 196, 196, 0.6);
    border-right: 0.1rem solid rgba(196, 196, 196, 0.6);
}

    .info-transaction:last-child {
        border-bottom: 0.1rem solid rgba(196, 196, 196, 0.6);
    }

    .info-transaction .date-transaction {
        text-align: left;
        font-weight: bold;
    }

.hour-transaction {
    text-align: center;
}

.protocol-transaction {
    text-align: center;
}

.type-transaction,
.value-transaction {
    margin: 0 auto;
}

.value-transaction {
    font-weight: bold;
}

.info-transaction .value-transaction.payment {
    color: red;
}

.value-transaction.receivement {
    color: rgb(38, 195, 10);
}

.coin-transaction {
    text-align: center;
    font-weight: bold;
}

.receiver-transaction {
    text-align: center;
}

.observation {
    text-align: right;
}
