@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<form action="index.html" method="post" class="boleto">
    <input type="text" name="fullname" id="fullname">
    <input type="date" name="date-payment" id="date-payment">
    <input type="number" name="deposit" id="deposit">
    <input type="text" name="billing-email" id="billing-email">
    <div class="final-value">

    </div>
</form>


<form action="index.html" method="post" class="cartao">
    <input type="text" name="cardholder-name" id="cardholder-name">
    <input type="number" name="deposit" id="deposit">
    <input type="number" name="card-number" id="card-number">
    <input type="number" name="cvv" id="cvv">
    <input type="date" name="expiration-date" id="expiration-date">
    <div class="final-value">


    </div>
</form>