@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    BIT_MODEL.UsuarioModel UsuarioDados = ViewBag.Home;
}

<link rel="stylesheet" href="~/Content/deposit.css">

@if (TempData["Sucesso1"] != null)
{
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-warning">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p size="3" align="center"><b>Deposito realizado com sucesso!</b></p>
        <br />
        <p size="3" align="center"><b>@TempData["Sucesso1"]</b></p>
        <br />
        <p size="3" align="center"><b>@TempData["Sucesso2"]</b></p>

    </div>
}
@if (TempData["Sucesso01"] != null)
{
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-danger">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p size="3" align="center"><b>@TempData["Sucesso01"]</b></p>
    </div>
}
@if (TempData["erro"] != null)
{
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-danger">
        <p size="3" align="center"><b>@TempData["erro"]</b></p>
    </div>
}

<div class="payment-form">
    <h2>Selecione a forma de pagamento:</h2>

    <button class="btn-boleto" onclick="boletoActive()">Boleto</button>
    <button class="btn-cartao" onclick="cartaoActive()">Cartão de Crédito</button>
</div>



<section id="boleto">
    <form action="/DepositoBoleto/@UsuarioDados.Id" method="post" id="boleto-form">
        <div class="fullname">
            <h2>Nome Completo</h2>
            <input pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" placeholder="Ex: João Silva" type="text" name="fullname" id="fullname" onfocus="taxa()" required>
        </div>

        <span>
            <div class="date-payment">
                <h2>Data de Pagamento</h2>
                <input type="date" name="date-payment" id="date-payment" onfocus="taxa()" required>
            </div>

            <div class="value-deposit">
                <h2>Valor de Depósito</h2>
                <input type="number" placeholder="Ex: 500" name="value-deposit" id="value-deposit" onfocus="taxa()" required>
            </div>
        </span>
        <div class="billing-email">
            <h2>E-mail de Cobrança</h2>
            <input type="email" placeholder="Ex: exemplo@exemplo" name="billing-email" id="billing-email" onfocus="taxa()" required>
        </div>

        <div class="final-value">
            <h2>Valor Total</h2>
            <input type="number" id="final" disabled>
            <p>*A taxa aplicada para cada transação é equivalente a 3,99% do valor de depósito</p>
        </div>

        <button type="submit">Concluir</button>
    </form>
</section>

<section id="cartao">
    <form action="/DepositoCartao/@UsuarioDados.Id" method="post" id="cartao-form">
        <span class="first-row">

            <div class="cardholder-name">
                <h2>Nome do Titular</h2>
                <input pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" placeholder="Ex: João Silva" type="text" name="cardholder-name" id="cardholder-name" onfocus="taxa()" required>
            </div>

            <div class="card-number">
                <h2>Número do Cartão</h2>
                <input maxlength="16" placeholder="Ex: 6666777788889999" title="Número de cartão inválido" type="number" name="card-number" id="card-number" onfocus="taxa()" required>
            </div>

        </span>

        <span class="second-row">
            <div class="deposit">
                <h2>Valor de Depósito</h2>
                <input type="number" placeholder="Ex: 500" name="value-deposit" id="value-card" onfocus="taxa()" required>
            </div>

            <div class="cvv">
                <h2>CVV/CVC</h2>
                <input type="number" placeholder="Ex: 888" name="cvv" id="cvv"  maxlength="3" onfocus="taxa()" required>
            </div>
        </span>

        <div class="expiration-date">
            <h2>Data de Vencimento</h2>
            <input type="date" name="expiration-date" id="expiration-date" onfocus="taxa()" required>
        </div>

        <div class="final-value">
            <h2>Valor Total</h2>
            <input type="number" id="final-card" disabled>
            <p>*A taxa aplicada para cada transação é equivalente a 3,99% do valor de depósito</p>
        </div>

        <button type="submit">Concluir</button>

    </form>
</section>
<script src="~/Scripts/payment.js"></script>