@{
    Layout = "~/Views/Shared/_LayoutSignInUp.cshtml";
}

@Styles.Render("~/Content/signUp.css")

    <form action="index.html" method="post" class="register-content">
        <div class="register-text">
            <legend>Crie sua conta</legend>
            <p>Já tem uma conta? <a href="/Home/SignIn">Entre</a></p>
        </div>
        <div class="first-row">
            <div class="input-block">
                <fieldset>
                    <input type="text" name="name" id="name" placeholder="Nome">
                </fieldset>
            </div>

            <div class="input-block">
                <fieldset>
                    <input type="text" name="last-name" id="last-name" placeholder="Sobrenome">
                </fieldset>
            </div>
        </div>

        <div class="second-row">
            <div class="input-block">
                <fieldset>
                    <input type="number" min="0" max="9999999999999" name="number-doc" id="number-doc" placeholder="Nº do Documento">
                    <!-- bverificar a necessidade de min e max -->
                </fieldset>
            </div>

            <div class="input-block">
                <fieldset>
                    <input type="number" name="birth" id="birth" placeholder="Data de Nascimento" onfocus="(this.type='date')">
                </fieldset>
            </div>
        </div>

        <div class="third-row">
            <div class="input-block">
                <fieldset>
                    <input type="email" name="email" id="email" placeholder="E-mail">
                </fieldset>
            </div>

            <div class="input-block">
                <fieldset>
                    <input type="password" name="password" id="password" placeholder="Senha">
                </fieldset>
            </div>

            <div class="input-block">
                <fieldset>
                    <input type="password" name="vf-password" id="vf-password" placeholder="Confirme sua senha">
                </fieldset>
            </div>
        </div>
        <button type="submit">Cadastrar</button>
    </form>
