@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <div class="last-transactions">
        <div class="header-transactions">
            <p>Últimas Transações</p>
            <a href="#welcome-text"><span class="fas fa-plus"></span></a>
        </div>

        <div class="info-transaction">
            <div class="date-transaction">
                <p>31/05/2020</p>
            </div>

            <div class="protocol-transaction">
                <p>000000123456789</p>
            </div>

            <div class="type-transaction">
                <p>Transferência</p>
            </div>

            <div class="value-transaction payment">
                <p>50,00</p>
            </div>

            <div class="coin-transaction">
                <p>USD</p>
            </div>
        </div>

        <div class="info-transaction">
            <div class="date-transaction">
                <p>20/05/2020</p>
            </div>

            <div class="type-transaction">
                <p>Depósito</p>
            </div>

            <div class="value-transaction receivement">
                <p>650,00</p>
            </div>

            <div class="coin-transaction">
                <p>R$</p>
            </div>
        </div>

        <div class="info-transaction">
            <div class="date-transaction">
                <p>10/05/2020</p>
            </div>

            <div class="type-transaction">
                <p>Conversão</p>
            </div>

            <div class="value-transaction payment">
                <p>1,00</p>
            </div>

            <div class="coin-transaction">
                <p>ETH</p>
            </div>
        </div>


    </div>
