@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <form action="" method="post">
        <input type="text" name="name-receiver" id="name-receiver">
        <input type="number" name="document-receiver" id="document-receiver">
        <input type="number" name="value-transfer" id="value">
        <select name="type-coin" id="type-coin">
            <option value="ethereum">ethereum</option>
            <option value="dolar">dolar</option>
            <option value="real">real</option>
            <option value="bitcoin">bitcoin</option>
        </select>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        <input type="text" name="subtotal" id="subtotal">
        <div class="final-value">


        </div>
    </form>
