@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<select name="type-coin" id="type-coin">
    <option value="ethereum">ethereum</option>
    <option value="dolar">dolar</option>
    <option value="real">real</option>
    <option value="bitcoin">bitcoin</option>
</select>
<input type="number" name="" id="">
<button type="submit"></button>

<div class="quote-coin">
    <button></button>
</div>

<div class="quote-coin">
    <button></button>
</div>

<div class="quote-coin">
    <button></button>
</div>


